In [27]:
import pandas as pd
df=pd.read_csv("C:/Users/User/Downloads/final.csv")

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 68 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Unnamed: 0                                                     466 non-null    float64
 1   STATE/UT                                                       468 non-null    object
 2   YEAR                                                           468 non-null    float64
 3   POPULATION                                                     468 non-null    float64
 4   MALES                                                          468 non-null    float64
 5   FEMALES                                                        468 non-null    float64
 6   MALES(per_100k)                                                468 non-null    float64
 7   FEMALES(per_100k)                                              468 non-null    float64
 8   TOTAL IPC CRIMES                                               467 non-null    float64
 9   TOTAL IPC CRIMES(per_100k)                                     467 non-null    float64
 10  ARSON                                                          467 non-null    float64
 11  ARSON(per_100k)                                                467 non-null    float64
 12  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY            467 non-null    float64
 13  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY(per_100k)  467 non-null    float64
 14  ATTEMPT TO MURDER                                              467 non-null    float64
 15  ATTEMPT TO MURDER(per_100k)                                    467 non-null    float64
 16  AUTO THEFT                                                     467 non-null    float64
 17  AUTO THEFT(per_100k)                                           467 non-null    float64
 18  BURGLARY                                                       467 non-null    float64
 19  BURGLARY(per_100k)                                             467 non-null    float64
 20  CAUSING DEATH BY NEGLIGENCE                                    467 non-null    float64
 21  CAUSING DEATH BY NEGLIGENCE(per_100k)                          467 non-null    float64
 22  CHEATING                                                       467 non-null    float64
 23  CHEATING(per_100k)                                             467 non-null    float64
 24  COUNTERFIETING                                                 467 non-null    float64
 25  COUNTERFIETING(per_100k)                                       467 non-null    float64
 26  CRIMINAL BREACH OF TRUST                                       467 non-null    float64
 27  CRIMINAL BREACH OF TRUST(per_100k)                             467 non-null    float64
 28  CRUELTY BY HUSBAND OR HIS RELATIVES                            467 non-null    float64
 29  CRUELTY BY HUSBAND OR HIS RELATIVES(per_100k)                  467 non-null    float64
 30  CULPABLE HOMICIDE NOT AMOUNTING TO MURDER                      467 non-null    float64
 31  CULPABLE HOMICIDE NOT AMOUNTING TO MURDER(per_100k)            467 non-null    float64
 32  CUSTODIAL RAPE                                                 467 non-null    float64
 33  CUSTODIAL RAPE(per_100k)                                       467 non-null    float64
 34  DACOITY                                                        467 non-null    float64
 35  DACOITY(per_100k)                                              467 non-null    float64
 36  DOWRY DEATHS                                                   467 non-null    float64
 37  DOWRY DEATHS(per_100k)                                         467 non-null    float64
 38  HURT/GREVIOUS HURT                                             467 non-null    float64
 39  HURT/GREVIOUS HURT(per_100k)                                   467 non-null    float64
 40  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES                    467 non-null    float64
 41  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES(per_100k)          467 non-null    float64
 42  INSULT TO MODESTY OF WOMEN                                     467 non-null    float64
 43  INSULT TO MODESTY OF WOMEN(per_100k)                           467 non-null    float64
 44  KIDNAPPING & ABDUCTION                                         467 non-null    float64
 45  KIDNAPPING & ABDUCTION(per_100k)                               467 non-null    float64
 46  KIDNAPPING AND ABDUCTION OF OTHERS                             467 non-null    float64
 47  KIDNAPPING AND ABDUCTION OF OTHERS(per_100k)                   467 non-null    float64
 48  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS                    467 non-null    float64
 49  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS(per_100k)          467 non-null    float64
 50  MURDER                                                         467 non-null    float64
 51  MURDER(per_100k)                                               467 non-null    float64
 52  OTHER RAPE                                                     467 non-null    float64
 53  OTHER RAPE(per_100k)                                           467 non-null    float64
 54  OTHER THEFT                                                    467 non-null    float64
 55  OTHER THEFT(per_100k)                                          467 non-null    float64
 56  PREPARATION AND ASSEMBLY FOR DACOITY                           467 non-null    float64
 57  PREPARATION AND ASSEMBLY FOR DACOITY(per_100k)                 467 non-null    float64
 58  RAPE                                                           467 non-null    float64
 59  RAPE(per_100k)                                                 467 non-null    float64
 60  RIOTS                                                          466 non-null    float64
 61  RIOTS(per_100k)                                                466 non-null    float64
 62  ROBBERY                                                        464 non-null    float64
 63  ROBBERY(per_100k)                                              463 non-null    float64
 64  THEFT                                                          462 non-null    float64
 65  THEFT(per_100k)                                                460 non-null    float64
 66  OTHER IPC CRIMES                                               460 non-null    float64
 67  OTHER IPC CRIMES(per_100k)                                     460 non-null    float64
dtypes: float64(67), object(1)
memory usage: 248.8+ KB

In [29]:
df.isnull().sum()

Unnamed: 0                    2
STATE/UT                      0
YEAR                          0
POPULATION                    0
MALES                         0
                             ..
ROBBERY(per_100k)             5
THEFT                         6
THEFT(per_100k)               8
OTHER IPC CRIMES              8
OTHER IPC CRIMES(per_100k)    8
Length: 68, dtype: int64

In [30]:
def toldirish(df):
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype=="object":
                df[col].fillna(df[col].mode()[0],inplace=True)
            else:
                df[col].fillna(df[col].mean(), inplace=True)
    return df

In [31]:
df.isnull().sum()

Unnamed: 0                    2
STATE/UT                      0
YEAR                          0
POPULATION                    0
MALES                         0
                             ..
ROBBERY(per_100k)             5
THEFT                         6
THEFT(per_100k)               8
OTHER IPC CRIMES              8
OTHER IPC CRIMES(per_100k)    8
Length: 68, dtype: int64

In [32]:
toldirish(df)

C:\Users\User\AppData\Local\Temp\ipykernel_13884\535827751.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

,Unnamed: 0,STATE/UT,YEAR,POPULATION,MALES,FEMALES,MALES(per_100k),FEMALES(per_100k),TOTAL IPC CRIMES,TOTAL IPC CRIMES(per_100k),...,RAPE,RAPE(per_100k),RIOTS,RIOTS(per_100k),ROBBERY,ROBBERY(per_100k),THEFT,THEFT(per_100k),OTHER IPC CRIMES,OTHER IPC CRIMES(per_100k)
0,0.0,A&N Islands,2001.0,356.0,193.0,163.0,54213.483146,45786.516854,1316.0,369662.921348,...,6.0,1685.393258,26.0,7303.370787,8.0,2247.191011,130.0,36516.853933,646.0,181460.674157
1,1.0,Andhra Pradesh,2001.0,76210.0,38527.0,37683.0,50553.733106,49446.266894,260178.0,341396.142239,...,1742.0,2285.789267,6002.0,7875.606876,1258.0,1650.702008,33502.0,43960.110222,68688.0,90129.904212
2,2.0,Arunachal Pradesh,2001.0,1098.0,580.0,518.0,52823.315118,47176.684882,4684.0,426593.806922,...,66.0,6010.928962,48.0,4371.584699,168.0,15300.546448,886.0,80692.167577,1236.0,112568.306011
3,3.0,Assam,2001.0,26656.0,13777.0,12878.0,51684.423770,48311.824730,73754.0,276688.175270,...,1634.0,6129.951981,5906.0,22156.362545,1374.0,5154.561825,10734.0,40268.607443,18630.0,69890.456182
4,4.0,Bihar,2001.0,82999.0,43244.0,39755.0,52101.832552,47898.167448,176864.0,213091.723997,...,1776.0,2139.784817,17212.0,20737.599248,4406.0,5308.497693,19402.0,23376.185255,73334.0,88355.281389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,463.0,Tamil Nadu,2013.0,68265.0,34248.0,34017.0,50169.193584,49830.806416,407158.0,596437.413023,...,1846.0,2704.167582,5402.0,7913.279133,4372.0,6404.453234,23900.0,35010.620376,255700.0,374569.691643
464,464.0,Tripura,2013.0,3700.0,1893.0,1807.0,51162.162162,48837.837838,12420.0,335675.675676,...,466.0,12594.594595,246.0,6648.648649,88.0,2378.378378,1066.0,28810.810811,3156.0,85297.297297
465,465.0,Uttar Pradesh,2013.0,207739.0,109466.0,98273.0,52694.005459,47305.994541,452890.0,218009.136465,...,6100.0,2936.376896,12178.0,5862.163580,7182.0,3457.222765,83898.0,40386.253905,160490.0,77255.594761
466,466.0,Uttarakhand,2013.0,10224.0,5217.0,5006.0,51026.995305,48963.223787,19092.0,186737.089202,...,456.0,4460.093897,668.0,6533.646322,276.0,2699.530516,3192.0,31220.657277,4714.0,46107.198748
467,467.0,West Bengal,2013.0,91122.0,46836.0,44287.0,51399.223020,48601.874410,339070.0,372105.528851,...,3370.0,3698.338491,12284.0,13480.827901,1294.0,1420.074186,45808.0,50271.065165,141476.0,155259.981124

In [34]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder 
def encoding_qil(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            if df[col].nunique() <= 6:
                dummies = pd.get_dummies(df[col], prefix=col, dtype=int)
                df = pd.concat([df.drop(columns=[col]), dummies], axis=1)
            else:
                df[col] = encoder.fit_transform(df[col])
    return

In [35]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler
def scaling_qil(df):
    numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.drop('Survived')
    df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
    return df