# Vazifa (5-dars)

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("electric_vehicles_spec_2025.csv.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand                      478 non-null    object
 1   model                      477 non-null    object
 2   top_speed_kmh              478 non-null    int64
 3   battery_capacity_kWh       478 non-null    float64
 4   battery_type               478 non-null    object
 5   number_of_cells            276 non-null    float64
 6   torque_nm                  471 non-null    float64
 7   efficiency_wh_per_km       478 non-null    int64
 8   range_km                   478 non-null    int64
 9   acceleration_0_100_s       478 non-null    float64
 10  fast_charging_power_kw_dc  477 non-null    float64
 11  fast_charge_port           477 non-null    object
 12  towing_capacity_kg         452 non-null    float64
 13  cargo_volume_l             477 non-null    object
 14  seats                      478 non-null    int64
 15  drivetrain                 478 non-null    object
 16  segment                    478 non-null    object
 17  length_mm                  478 non-null    int64
 18  width_mm                   478 non-null    int64
 19  height_mm                  478 non-null    int64
 20  car_body_type              478 non-null    object
 21  source_url                 478 non-null    object
dtypes: float64(6), int64(7), object(9)
memory usage: 82.3+ KB

In [11]:
df.isnull().sum()

brand                          0
model                          1
top_speed_kmh                  0
battery_capacity_kWh           0
battery_type                   0
number_of_cells              202
torque_nm                      7
efficiency_wh_per_km           0
range_km                       0
acceleration_0_100_s           0
fast_charging_power_kw_dc      1
fast_charge_port               1
towing_capacity_kg            26
cargo_volume_l                 1
seats                          0
drivetrain                     0
segment                        0
length_mm                      0
width_mm                       0
height_mm                      0
car_body_type                  0
source_url                     0
dtype: int64

### mean()

In [ ]:
df["number_of_cells"].fillna(df["number_of_cells"].mean(), inplace=True)

### mode()

In [13]:
df["fast_charge_port"].fillna(df["fast_charge_port"].mode()[0],inplace=True)

### median()

In [ ]:
df["towing_capacity_kg"].fillna(df["towing_capacity_kg"].median(), inplace=True)

### fixed

In [ ]:
df["torque_nm"].fillna(7.0, inplace=True)     #     fixed qiymat yani mana shu ustundagi hamma bo'sh katak yani qiymati yo'q kataklarga 
                                              #     dasturchi tomonidan yozilgan raqam yoki qiymatni qo'yib chiqadi

### drop

In [ ]:
df.drop("number_of_cells", axis=1, inplace=True)  # tanlangan ustunni tashlab yuboraadi

In [ ]:
df.info()

In [ ]:
df.dropna(inplace=True)  # qatorda bitta tushib qolgan qiymat bo'lsa ham o'sha qatorni tashlab yuboradi

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 442 entries, 0 to 476
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand                      442 non-null    object
 1   model                      442 non-null    object
 2   top_speed_kmh              442 non-null    int64
 3   battery_capacity_kWh       442 non-null    float64
 4   battery_type               442 non-null    object
 5   torque_nm                  442 non-null    float64
 6   efficiency_wh_per_km       442 non-null    int64
 7   range_km                   442 non-null    int64
 8   acceleration_0_100_s       442 non-null    float64
 9   fast_charging_power_kw_dc  442 non-null    float64
 10  fast_charge_port           442 non-null    object
 11  towing_capacity_kg         442 non-null    float64
 12  cargo_volume_l             442 non-null    object
 13  seats                      442 non-null    int64
 14  drivetrain                 442 non-null    object
 15  segment                    442 non-null    object
 16  length_mm                  442 non-null    int64
 17  width_mm                   442 non-null    int64
 18  height_mm                  442 non-null    int64
 19  car_body_type              442 non-null    object
 20  source_url                 442 non-null    object
dtypes: float64(5), int64(7), object(9)
memory usage: 76.0+ KB