In [49]:
import pandas as pd
df=pd.read_csv("C:/Users/User/Downloads/teen_phone_addiction_dataset.csv")

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      3000 non-null   int64
 1   Name                    3000 non-null   object
 2   Age                     3000 non-null   float64
 3   Gender                  2999 non-null   object
 4   Location                3000 non-null   object
 5   School_Grade            3000 non-null   object
 6   Daily_Usage_Hours       3000 non-null   float64
 7   Sleep_Hours             3000 non-null   float64
 8   Academic_Performance    3000 non-null   float64
 9   Social_Interactions     3000 non-null   int64
 10  Exercise_Hours          3000 non-null   float64
 11  Anxiety_Level           3000 non-null   float64
 12  Depression_Level        3000 non-null   float64
 13  Self_Esteem             3000 non-null   float64
 14  Parental_Control        3000 non-null   object
 15  Screen_Time_Before_Bed  3000 non-null   float64
 16  Phone_Checks_Per_Day    3000 non-null   object
 17  Apps_Used_Daily         3000 non-null   float64
 18  Time_on_Social_Media    2999 non-null   float64
 19  Time_on_Gaming          2999 non-null   float64
 20  Time_on_Education       2998 non-null   float64
 21  Phone_Usage_Purpose     2998 non-null   object
 22  Family_Communication    2998 non-null   float64
 23  Weekend_Usage_Hours     2998 non-null   float64
 24  Addiction_Level         2998 non-null   float64
dtypes: float64(16), int64(2), object(7)
memory usage: 586.1+ KB

# one-hot encoding

In [21]:
df=pd.get_dummies(df,columns=['School_Grade'],prefix='School_Grade',dtype=int)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Columns: 2962 entries, ID to School_Grade_9th
dtypes: float64(9), int64(2950), object(3)
memory usage: 67.8+ MB

# label encoding

In [23]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [24]:
df["Gender"].nunique()

3

In [25]:
df["Gender"]

0       Female
1       Female
2        Other
3       Female
4        Other
         ...
2995    Female
2996    Female
2997     Other
2998    Female
2999      Male
Name: Gender, Length: 3000, dtype: object

In [26]:
df['Gender']=encoder.fit_transform(df['Gender'])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Columns: 2962 entries, ID to School_Grade_9th
dtypes: float64(9), int64(2951), object(2)
memory usage: 67.8+ MB

# frequence encoding

In [30]:
freq_encoding=df['Location'].value_counts()
df['Location_freq']=df['Location'].map(freq_encoding)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Columns: 2963 entries, ID to Location_freq
dtypes: float64(9), int64(2952), object(2)
memory usage: 67.8+ MB

In [32]:
df.drop('Location',axis=1,inplace=True)

# Target encoding

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Columns: 2957 entries, ID to School_Grade_freq
dtypes: float64(9), int64(2946), object(2)
memory usage: 67.7+ MB

In [40]:
target_encoding = df.groupby('Phone_Usage_Purpose')['Sleep_Hours'].mean()
df['Phone_Usage_Purpose_target'] = df['Phone_Usage_Purpose'].map(target_encoding)

# Ordinal encoding

In [41]:
df['School_Grade'].value_counts()

School_Grade
12th    529
9th     526
7th     497
10th    487
8th     482
11th    479
Name: count, dtype: int64

In [42]:
degree_mapping={
    "12th":0,
    "9th":1,     
    "7th":2,    
    "10th":3,  
    "8th":4,   
    "11th":5,
}

df['School_Grade_ordinal']=df['School_Grade'].map(degree_mapping)

In [43]:
df.drop('School_Grade',axis=1,inplace=True)

In [ ]:
df.info()

In [45]:
df.columns.tolist()

['ID',
 'Name',
 'Age',
 'Gender',
 'Location',
 'Daily_Usage_Hours',
 'Sleep_Hours',
 'Academic_Performance',
 'Social_Interactions',
 'Exercise_Hours',
 'Anxiety_Level',
 'Depression_Level',
 'Self_Esteem',
 'Parental_Control',
 'Screen_Time_Before_Bed',
 'Phone_Checks_Per_Day',
 'Apps_Used_Daily',
 'Time_on_Social_Media',
 'Time_on_Gaming',
 'Time_on_Education',
 'Phone_Usage_Purpose',
 'Family_Communication',
 'Weekend_Usage_Hours',
 'Addiction_Level',
 'Phone_Usage_Purpose_target',
 'School_Grade_ordinal']

In [51]:
for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype=="object":
            df[col].fillna(df[col].mode()[0], inplace=True)
        else:
            df[col].fillna(df[col].mean(), inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_58228\3376033571.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_58228\3376033571.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      3000 non-null   int64
 1   Name                    3000 non-null   object
 2   Age                     3000 non-null   float64
 3   Gender                  3000 non-null   object
 4   Location                3000 non-null   object
 5   School_Grade            3000 non-null   object
 6   Daily_Usage_Hours       3000 non-null   float64
 7   Sleep_Hours             3000 non-null   float64
 8   Academic_Performance    3000 non-null   float64
 9   Social_Interactions     3000 non-null   int64
 10  Exercise_Hours          3000 non-null   float64
 11  Anxiety_Level           3000 non-null   float64
 12  Depression_Level        3000 non-null   float64
 13  Self_Esteem             3000 non-null   float64
 14  Parental_Control        3000 non-null   object
 15  Screen_Time_Before_Bed  3000 non-null   float64
 16  Phone_Checks_Per_Day    3000 non-null   object
 17  Apps_Used_Daily         3000 non-null   float64
 18  Time_on_Social_Media    3000 non-null   float64
 19  Time_on_Gaming          3000 non-null   float64
 20  Time_on_Education       3000 non-null   float64
 21  Phone_Usage_Purpose     3000 non-null   object
 22  Family_Communication    3000 non-null   float64
 23  Weekend_Usage_Hours     3000 non-null   float64
 24  Addiction_Level         3000 non-null   float64
dtypes: float64(16), int64(2), object(7)
memory usage: 586.1+ KB