In [9]:
import pandas as pd
df=pd.read_csv("C:/Users/User/Downloads/Telegram Desktop/Indian_Kids_Screen_Time.csv")

## data haqida malumotlar

In [10]:
df.info() # umumiy malumot beradi

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9712 non-null   int64
 1   Gender                             9712 non-null   object
 2   Avg_Daily_Screen_Time_hr           9712 non-null   float64
 3   Primary_Device                     9712 non-null   object
 4   Exceeded_Recommended_Limit         9712 non-null   bool
 5   Educational_to_Recreational_Ratio  9712 non-null   float64
 6   Health_Impacts                     6494 non-null   object
 7   Urban_or_Rural                     9712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 540.7+ KB

In [3]:
df.head()  # boshidan beshtasini ko'rsatadi

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,14,Male,3.99,Smartphone,True,0.42,"Poor Sleep, Eye Strain",Urban
1,11,Female,4.61,Laptop,True,0.30,Poor Sleep,Urban
2,18,Female,3.73,TV,True,0.32,Poor Sleep,Urban
3,15,Female,1.21,Laptop,False,0.39,NaN,Urban
4,12,Female,5.89,Smartphone,True,0.49,"Poor Sleep, Anxiety",Urban

In [4]:
df.tail() # oxiridan beshtasini ko'rsatadi

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
9707,17,Male,3.26,Smartphone,True,0.44,Poor Sleep,Urban
9708,17,Female,4.43,Smartphone,True,0.40,Poor Sleep,Rural
9709,16,Male,5.62,Smartphone,True,0.39,"Poor Sleep, Eye Strain, Anxiety",Rural
9710,17,Male,5.60,TV,True,0.43,Poor Sleep,Urban
9711,15,Female,6.12,TV,True,0.33,Anxiety,Urban

In [5]:
df.isnull().sum()  # qaysi ustunda qancha qiymat tushib qolganini ko'rsatadi

Age                                     0
Gender                                  0
Avg_Daily_Screen_Time_hr                0
Primary_Device                          0
Exceeded_Recommended_Limit              0
Educational_to_Recreational_Ratio       0
Health_Impacts                       3218
Urban_or_Rural                          0
dtype: int64

## Data preprocessing

### Missing values

In [6]:
# Mean bilan
df["Age"].fillna(df["Age"].mean(), inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_20676\4090541828.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)

In [7]:
# Mode bilan
df["Gender"].fillna(df["Gender"].mode()[0], inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_20676\1602199854.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Gender"].fillna(df["Gender"].mode()[0], inplace=True)

In [8]:
# median bilan
df["Avg_Daily_Screen_Time_hr"].fillna(df["Avg_Daily_Screen_Time_hr"].median(), inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_20676\2958733270.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Avg_Daily_Screen_Time_hr"].fillna(df["Avg_Daily_Screen_Time_hr"].median(), inplace=True)

In [9]:
#fixed bilan  agar int yoki float bo'lmasdan str bo'lsa qo'sh tirnoq ichiga olib qo'yamiz
df["Educational_to_Recreational_Ratio"].fillna(0.40, inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_20676\729725338.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Educational_to_Recreational_Ratio"].fillna(0.40, inplace=True)

In [10]:
# drop bilan ustunni tashlashni ko'ramiz
df.drop("Health_Impacts", axis=1, inplace=True)

In [11]:
# drop bilan qatorni tashlashni ko'ramiz
df.dropna( inplace=True)   # bu kodda agar qatorda bitta bo'lsa ham missing 
                           #  value bo'lsa qatorni tashlab yuboradi

In [12]:
# drop 
df.dropna(axis=1, inplace=True)     # bunda 1 ta bo'lsa ham missing value bor bo'lgan ustunni tashlab yuboradi

In [ ]:
# bu yerda siz ko'rsatgandan boshqacha tushunib yozdim agar to'liq description bersam ko'payib ketadi
for col in df.columns:
    if (df[col].isnull().any()) and (df[col].dtype=='object'):
        df[col].fillna(df[col].mode()[0],inplace=True)
    else:
        df[col].fillna(df[col].mean(),inplace=True)

## encoding

In [13]:
df["Gender"].nunique()

2

In [14]:
# one - hot 
df=pd.get_dummies(df["Gender"], prefix="Gender", dtype=int)

In [ ]:
#label encoding

In [30]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [31]:
df["Health_Impacts"]=encoder.fit_transform(df["Health_Impacts"])

In [32]:
# frequency encoding
frequency=df["Urban_or_Rural"].value_counts()
df['Urban_or_Rural_fre']=df["Urban_or_Rural"].map(frequency)

In [34]:
df.drop("Urban_or_Rural", axis=1, inplace=True)

In [3]:
df=pd.get_dummies(df["Urban_or_Rural"], prefix="Urban_or_Rural", dtype=int) # mana bu yerda target encoding
#  ishlashi un target qiymatni one-hot encoding bilan qilib oldim

In [ ]:
# target encoding
target = df.groupby("Health_Impacts")["Urban_or_Rural"].mean()    # xatolik chiqayabdi faqat
df["Health_Impacts_target"]=df["Health_Impacts"].map(target)

In [ ]:
#ordinal encodin un dictionary yozish kerak ko'p vaqt oladi shunga tashlab ketdim
#    df['ozgaruvchi']=df['ustun_nomi'].map("dictionary")

In [12]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler,RobustScaler
standart=StandardScaler()
minmax=MinMaxScaler()
robust=RobustScaler()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9712 non-null   int64
 1   Gender                             9712 non-null   object
 2   Avg_Daily_Screen_Time_hr           9712 non-null   float64
 3   Primary_Device                     9712 non-null   object
 4   Exceeded_Recommended_Limit         9712 non-null   bool
 5   Educational_to_Recreational_Ratio  9712 non-null   float64
 6   Health_Impacts                     6494 non-null   object
 7   Urban_or_Rural                     9712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 540.7+ KB

In [14]:
num_col=df.select_dtypes(include=['float64','int64']).columns.tolist()

In [15]:
num_col

['Age', 'Avg_Daily_Screen_Time_hr', 'Educational_to_Recreational_Ratio']

In [16]:
df[num_col]=standart.fit_transform(df[num_col])

In [17]:
df[num_col]=minmax.fit_transform(df[num_col])

In [18]:
df[num_col]=robust.fit_transform(df[num_col])