In [19]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
df=pd.read_csv("bank-full.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_17908\889803151.py:4: DtypeWarning: Columns (5,9,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("bank-full.csv")

In [ ]:
def toldirish():
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype=="object":
                df[col].fillna(df[col].mode()[0])

## Og'zaki

## 1.Model Evalution nima? 
## Bu modelni yaxshi ishlayabdimi yo'qmi aniqlaydi, qayerda xato borligini aniqab tuzatadi,
## bir nechta modellarni solishtiradi

## 2. Decision Tree qanday ishlaydi? Over/Underfittingni DT da qanday oldini olsak bo’ladi?
## bunda outputni topishda savol-javob orqali turli yo'nalishlarga ajratib har bir yo'nalishda bitta feature bo'yicha qaror qiladi.
## bitta ustun tanlanadi shu ustun yana bo'linadi huddi shunday yakuniy qarorgachya keladi. 
## overfitting bu model trening malumotlarini yodlab oladi keyin testda yaxshi natija bermaslikdir. 
## buni oldini oliush uchn Max_depth chuqurligini cheklayi, Min_simples_split yana bo'layotganda kam qismga bo'lish,
## Pruning-ortiqcha node larni tashlab yuboradi, cross-validation bu validation qilish orqali chuqurlikni cheklaydi
# 
## Underfitting bu model hech naranni o'rganmasligi. bunda decision tree judas sayoz bo'ladi, muhim feature lar natog'ri olingan bo'lishi mumkin
## bunda max_depth va min_samples_split ni kopaytirish kerak bo'ladi

## 3. Linear Modellar qanday ishlaydi? >> linear regression va linear classification
## bunda input va output orasida chiziqli bog'liqlik bor deb o'ylaydi. x-input, y-output, w-weight, b-bais x,y data beriladi va eng mos w, b ni topishga hareakat qiladi bunda MSE,MAE, R2_score,RMSE lar orqali hisoblanadi.
## linear classification buda natija clssification bo'ladi

## 4.Logistic Regressionda qanday funksiyadan foydalanamiz?

# Python

## 1. Berilgan so’zni boshi va oxirdagi so’zlardan so’z tuzadigan funksiya yarating

In [3]:
def soz(text):
    return text[0:2]+text[-2:]
soz(text="Samarqand")

'Sand'

## 2.Berilgan listdagi sonlar o’rta arifmetigini topadigan funskiya yarating

In [5]:
def orta_arifmetik(sonlar):
    return sum(sonlar)/len(sonlar)
orta_arifmetik(sonlar=[1, 3, 6, 9, 4, 32, 45])

14.285714285714286

## 3. Berilgan so’zni uzunligini topadigan funksiya yarating

In [6]:
def soz_uzunligi(matn):
    return len(matn)
soz_uzunligi(matn="Salom")

5

## 4. Berilgan listdagi so’zlar ichidan eng uzunini toping

In [11]:
def uzun_soz(sozli_list):
    sozli_list=["salom", "men", "Samarqand"]
    eng_uzun=""
    max_uzunlik=0
    for i in sozli_list:
        if len(i)>max_uzunlik:
            max_uzunlik=len(i)
            eng_uzun=i
    return eng_uzun
uzun_soz(sozli_list=["salom", "men", "Samarqand"])

'Samarqand'

## 5. Berilgan listdagi eng katta, eng kichik sonlarni topadigan funksiya yarating

In [12]:
def min_max_sonlar(listlar):
    return max(listlar),min(listlar)
min_max_sonlar(listlar=[34,654,23 ,52,64,3242])

(3242, 23)

## 6. Funskiyaga berilgan faqat juft sonlarni kopaytmasini toping

In [16]:
def juft_kopaytmasi(sonlar1):
    kopaytma=1
    for i in sonlar1:
        if i%2==0:
            kopaytma *= i 
    return kopaytma

juft_kopaytmasi([2,4,6,7,4,3,7,6,9,21])

1152

## 7. Funskiyaga berilgan faqat toq sonlarni kopaytmasini toping

In [17]:
def toq_kopaytmasi(sonlar1):
    kopaytma=1
    for i in sonlar1:
        if i%2!=0:
            kopaytma *= i 
    return kopaytma

toq_kopaytmasi([2,4,6,7,4,3,7,6,9,21])

27783

In [18]:
7*3*7*9*21

27783

# ML

In [39]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
df=pd.read_csv("bank-full.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_17908\889803151.py:4: DtypeWarning: Columns (5,9,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("bank-full.csv")

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  float64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  object
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  object
 10  month      45211 non-null  object
 11  duration   45211 non-null  object
 12  campaign   45211 non-null  object
 13  pdays      45211 non-null  object
 14  previous   45211 non-null  float64
 15  poutcome   45211 non-null  object
 16  Target     45211 non-null  object
dtypes: float64(2), object(15)
memory usage: 5.9+ MB

## 1. Funksiya yordamida missing qiymatlarni toldiring

In [52]:
def missing_value_toldirish(df):
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype=="object":
                df[col].fillna(df[col].mode()[0], inplace=True)
            else:
                df[col].fillna(df[col].mean(), inplace=True)
    return df

In [53]:
df=missing_value_toldirish(df)

C:\Users\User\AppData\Local\Temp\ipykernel_17908\85097941.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_17908\85097941.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

## 2. Funksiya yordamida encoding qiling

In [55]:
df.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58.0,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0.0,unknown,no

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  float64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  object
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  object
 10  month      45211 non-null  object
 11  duration   45211 non-null  object
 12  campaign   45211 non-null  object
 13  pdays      45211 non-null  object
 14  previous   45211 non-null  float64
 15  poutcome   45211 non-null  object
 16  Target     45211 non-null  object
dtypes: float64(2), object(15)
memory usage: 5.9+ MB

In [60]:
def encoding_qilish(df):
    encoder=LabelEncoder()
    df=df.copy()
    for col in df.columns:
        if df[col].dtype=="object":
            if df[col].nunique()<5:
                dummies=pd.get_dummies(df[col], prefix=col, dtype=int)
                df=pd.concat([df.drop(columns=[col]),dummies],axis=1)
            else:
                df[col]=encoder.fit_transform(df[col])
    return df

In [61]:
df=encoding_qilish(df)

TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['int', 'str']

In [64]:
from sklearn.preprocessing import MinMaxScaler
def scaling_qilish(df):
    scaler=MinMaxScaler()
    num_col=df.select_dtypes(include=['float64']).columns.drop('Target')
    df[num_col]=scaler.fit_transform(df[num_col])
    return df

In [ ]:
df=scaling_qilish(df)

In [66]:
x=df.drop("Target",axis=1)

In [67]:
y=df["Target"]

In [68]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=(x,y,test_size=0.3,random_state=42)

In [70]:
from sklearn.linear_model import LinearRegression
lr_model=LinearRegression()

In [ ]:
lr_model.fit(x_train,y_train)

In [ ]:
y_bashorat=lr_model.predict(x_test)

In [73]:
from sklearn.metrics import r2_score, mean_absolute_error, root_mean_squared_error, mean_squared_error

In [ ]:
r2=r2_score(y_test,y_pred)
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=root_mean_squared_error(y_test,y_pred)

In [ ]:
print('r2:',r2)
print('mae:',mae)
print('mse:',mse)
print('rmse:',rmse)