# vazifalar

In [10]:
import pandas as pd
df=pd.read_csv("train.csv")

In [ ]:
df.head()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  887 non-null    float64
 1   Survived     891 non-null    float64
 2   Pclass       890 non-null    float64
 3   Name         882 non-null    object
 4   Gender       891 non-null    object
 5   Age          713 non-null    float64
 6   SibSp        883 non-null    float64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(6), int64(1), object(5)
memory usage: 83.7+ KB

In [ ]:
df.tail()

In [ ]:
df.isnull().sum()

In [ ]:
df["Survived"].fillna(df["Survived"].mean(), inplace=True)

In [13]:
df["Name"].fillna(df["Name"].mode()[0],inplace=True)

In [ ]:
df["Age"].fillna(df["Age"].median(),inplace=True)