In [26]:
import pandas as pd
df=pd.read_csv(filepath_or_buffer="electric_vehicles_spec_2025.csv.csv")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand                      478 non-null    object
 1   model                      477 non-null    object
 2   top_speed_kmh              478 non-null    int64
 3   battery_capacity_kWh       478 non-null    float64
 4   battery_type               478 non-null    object
 5   number_of_cells            276 non-null    float64
 6   torque_nm                  471 non-null    float64
 7   efficiency_wh_per_km       478 non-null    int64
 8   range_km                   478 non-null    int64
 9   acceleration_0_100_s       478 non-null    float64
 10  fast_charging_power_kw_dc  477 non-null    float64
 11  fast_charge_port           477 non-null    object
 12  towing_capacity_kg         452 non-null    float64
 13  cargo_volume_l             477 non-null    object
 14  seats                      478 non-null    int64
 15  drivetrain                 478 non-null    object
 16  segment                    478 non-null    object
 17  length_mm                  478 non-null    int64
 18  width_mm                   478 non-null    int64
 19  height_mm                  478 non-null    int64
 20  car_body_type              478 non-null    object
 21  source_url                 478 non-null    object
dtypes: float64(6), int64(7), object(9)
memory usage: 82.3+ KB

In [ ]:
df["number_of_cells"].fillna(df["number_of_cells"].mean(), inplace=True) # mean bilan

C:\Users\User\AppData\Local\Temp\ipykernel_24280\1782222024.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["number_of_cells"].fillna(df["number_of_cells"].mean(), inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand                      478 non-null    object
 1   model                      477 non-null    object
 2   top_speed_kmh              478 non-null    int64
 3   battery_capacity_kWh       478 non-null    float64
 4   battery_type               478 non-null    object
 5   number_of_cells            478 non-null    float64
 6   torque_nm                  471 non-null    float64
 7   efficiency_wh_per_km       478 non-null    int64
 8   range_km                   478 non-null    int64
 9   acceleration_0_100_s       478 non-null    float64
 10  fast_charging_power_kw_dc  477 non-null    float64
 11  fast_charge_port           477 non-null    object
 12  towing_capacity_kg         452 non-null    float64
 13  cargo_volume_l             477 non-null    object
 14  seats                      478 non-null    int64
 15  drivetrain                 478 non-null    object
 16  segment                    478 non-null    object
 17  length_mm                  478 non-null    int64
 18  width_mm                   478 non-null    int64
 19  height_mm                  478 non-null    int64
 20  car_body_type              478 non-null    object
 21  source_url                 478 non-null    object
dtypes: float64(6), int64(7), object(9)
memory usage: 82.3+ KB

In [25]:
df.isnull().sum()

brand                         0
model                         1
top_speed_kmh                 0
battery_capacity_kWh          0
battery_type                  0
torque_nm                     7
efficiency_wh_per_km          0
range_km                      0
acceleration_0_100_s          0
fast_charging_power_kw_dc     1
fast_charge_port              1
towing_capacity_kg           26
cargo_volume_l                1
seats                         0
drivetrain                    0
segment                       0
length_mm                     0
width_mm                      0
height_mm                     0
car_body_type                 0
source_url                    0
dtype: int64

In [ ]:
df["fast_charge_port"].fillna(df["fast_charge_port"].mode()[0], inplace=True) # mode bilan

In [ ]:
df["torque_nm"].fillna(df["torque_nm"].median(), inplace=True) # median bilan

C:\Users\User\AppData\Local\Temp\ipykernel_24280\3477129819.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["torque_nm"].fillna(df["torque_nm"].median(), inplace=True)

In [ ]:
df.drop("number_of_cells", axis=1, inplace=True) # istalgan ustunni tashlash

In [ ]:
df.dropna(inplace=True) # qator bilan to'ldirish yani bitta missing value bo'lsa ham qatorni tashlaydi

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, 0 to 470
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand                      264 non-null    object
 1   model                      264 non-null    object
 2   top_speed_kmh              264 non-null    int64
 3   battery_capacity_kWh       264 non-null    float64
 4   battery_type               264 non-null    object
 5   number_of_cells            264 non-null    float64
 6   torque_nm                  264 non-null    float64
 7   efficiency_wh_per_km       264 non-null    int64
 8   range_km                   264 non-null    int64
 9   acceleration_0_100_s       264 non-null    float64
 10  fast_charging_power_kw_dc  264 non-null    float64
 11  fast_charge_port           264 non-null    object
 12  towing_capacity_kg         264 non-null    float64
 13  cargo_volume_l             264 non-null    object
 14  seats                      264 non-null    int64
 15  drivetrain                 264 non-null    object
 16  segment                    264 non-null    object
 17  length_mm                  264 non-null    int64
 18  width_mm                   264 non-null    int64
 19  height_mm                  264 non-null    int64
 20  car_body_type              264 non-null    object
 21  source_url                 264 non-null    object
dtypes: float64(6), int64(7), object(9)
memory usage: 47.4+ KB